body {
.below {
  @include grid-row();
    color: white;

    .lunacy {
      @include grid-column(12);
      background-image: url("images/smmoon.jpg");
      padding: 100px 0;
          @include breakpoint(850px) {
          @include grid-column(8);
          }
    }
    .events {
    @include grid-column(12);
    background-image: url("images/smpink.jpg");
    padding: 100px 0;
      @include breakpoint(850px) {
      @include grid-column(4);
      }
    }
    button {
      border: 1px solid white;
      padding: 16px 28px;

    }

}

.merchandise {
  @include grid-row();
  h4 {
    color: $gold;
    height: 79px;

  }
}
}
