
$border: 1px dotted grey;
$gold: #A4834E;

// IMPORT FOUNDATION INTO MY SASS
@import 'node_modules/foundation-sites/scss/foundation';
@import "bookshop";
@import "footer";
@import "banner";
@import "below_banner";

// IN PARTICULAR, WE NEED TWO MODULES
@include foundation-global-styles;
@include foundation-grid;

body {
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}
